@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="d-flex justify-content-center">
        <h4>Добро пожаловать, @BankCP.Controllers.LoginController.UserID</h4>   
    </div>